
.idea/vcs.xml
__pycache__/spark_repository.cpython-311.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/app.cpython-311.pyc
__pycache__/dataset.cpython-311.pyc
dataset/dataset_9.csv
dataset/dataset_8.csv
dataset/dataset_1.csv
dataset/dataset_10.csv
dataset/dataset_11.csv
dataset/dataset_12.csv
dataset/dataset_13.csv
dataset/dataset_14.csv
dataset/dataset_15.csv
dataset/dataset_16.csv
dataset/dataset_17.csv
dataset/dataset_18.csv
dataset/dataset_19.csv
dataset/dataset_2.csv
dataset/dataset_20.csv
dataset/dataset_21.csv
dataset/dataset_22.csv
dataset/dataset_23.csv
dataset/dataset_24.csv
dataset/dataset_25.csv
dataset/dataset_26.csv
dataset/dataset_27.csv
dataset/dataset_28.csv
dataset/dataset_29.csv
dataset/dataset_3.csv
dataset/dataset_30.csv
dataset/dataset_31.csv
dataset/dataset_4.csv
dataset/dataset_5.csv
dataset/dataset_6.csv
dataset/dataset_7.csv
__pycache__/controllers.cpython-311.pyc
